* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  font-family: 'League Spartan', sans-serif;
}

body {
  width: 100%;
  height: 100vh;
}

header {
  display: flex;
}

.mobileheader {
  gap: 2 rem;

  h1 {
    color: hsl(300, 43%, 22%);
    font-size: xx-large;
    font-weight: 800;
    margin-top: 8%;
    margin-inline: 15%;
    margin-bottom: 6%;
    text-align: center;
  }
  p {
    color: hsl(303, 10%, 53%);
    font-size: 20px;
    margin-inline: 10%;
    text-align: center;
  }
  background-image: url(./assets/bg-pattern-top-mobile.svg);
  background-repeat: no-repeat;
}

.ratings {
  margin-inline: 8%;
  margin-block: 8%;
  p {
    color: hsl(300, 43%, 22%);
    text-align: center;
    font-weight: 800;
  }

  img {
    margin-inline: 2px;
  }
  div {
    display: flex;
    justify-content: center;
    margin-bottom: 1rem;
  }
  article {
    background-color: hsla(303, 10%, 53%, 0.1);
    border-radius: 15px;
    margin-inline: 4%;
    padding-block: 2%;
    margin-block: 4%;
  }
}

.reviews {
  padding-bottom: 15%;
  .userName {
    color: white;
    font-weight: 600;
    font-size: 16px;
  }
  .userReview {
    display: flex;
    align-items: center;
    gap: 6%;
  }
  .buyer {
    color: hsl(333, 80%, 67%);
    font-weight: 600;
    font-size: 16px;
  }
  img {
    border-radius: 50%;
    margin-left: 5%;
  }
  .testimony {
    color: white;
    font-size: 16px;
    margin: 4%;
  }
  article {
    background-color: hsl(300, 43%, 22%);
    border-radius: 15px;
    margin-inline: 8%;
    margin-block: 4%;
    padding: 4%;
  }
  .userProfile {
    display: flex;
    flex-direction: column;
  }
}

.desktopheader {
  display: flex;
  display: none;
  justify-content: space-between;
  background-image: url(./assets/bg-pattern-top-desktop.svg);
  background-repeat: no-repeat;
  width: 100%;

  h1 {
    color: hsl(300, 43%, 22%);
    font-size: 3rem;
    font-weight: 800;
    margin-top: 12%;
    margin-bottom: 4%;
    margin-left: 16%;
    margin-right: 10%;
    text-align: left;
  }
  p {
    color: hsl(303, 10%, 53%);
    font-size: 16px;
    margin-left: 16%;
    text-align: left;
    margin-right: 10%;
    margin-right: 10%;
  }
}

.deskheader {
  display: flex;
  flex-direction: column;
}

.deskratings {
  width: 60%;
  display: flex;
  flex-direction: column;
  margin-top: 4%;
  p {
    color: hsl(300, 43%, 22%);
    text-align: center;
    font-weight: 800;
  }

  img {
    margin-inline: 2px;
  }
  div {
    display: flex;
    justify-content: center;
    margin-bottom: 1rem;
  }
  article {
    background-color: hsla(303, 10%, 53%, 0.1);
    border-radius: 15px;
    margin-block: 1%;
    width: 70%;
  }
}

#ReportGuru {
  margin-left: 10%;
}

#BestTech {
  margin-left: 20%;
}

.deskreviews {
  display: flex;
  display: none;
  justify-content: center;
  margin-inline: 5%;
  margin-top: 3%;
  .userName {
    color: white;
    font-weight: 600;
    font-size: 16px;
  }
  .userReview {
    display: flex;
    align-items: center;
    gap: 6%;
  }
  .buyer {
    color: hsl(333, 80%, 67%);
    font-weight: 600;
    font-size: 16px;
  }
  img {
    border-radius: 50%;
    margin-left: 5%;
  }
  .testimony {
    color: white;
    font-size: 16px;
    margin-inline: 6%;
    margin-top: 6%;
  }
  article {
    background-color: hsl(300, 43%, 22%);
    border-radius: 10px;
    margin-inline: 2%;
    margin-top: 4%;
    margin-bottom: 2%;
    padding-block: 1%;
  }
  .userProfile {
    display: flex;
    flex-direction: column;
  }
}

#irene {
  margin-top: 5%;
  margin-bottom: 1%;
}

#anne {
  margin-top: 6%;
  margin-bottom: 0%;
}

@media (width > 700px) {
  .mobileheader {
    display: none;
  }
  .desktopheader {
    display: flex;
  }
  .ratings {
    display: none;
  }
  .reviews {
    display: none;
  }
  .deskreviews {
    display: flex;
  }
}
